<% var date = new Date(created) %>
<div class="comment-block" id="<%- commentId -%>">
	<div class="comment-info-container">
		<p class="comment-creator">User: <%- user.username -%></p>
		<p class="comment-created">Posted: <%- (date.getMonth()+1) + "/" + date.getDate() + "/" + date.getFullYear() -%></p>
	</div>
	<hr>
	<p class="comment-body"><%- text -%></p>
	<hr>
	<div class="like-dislike-comment">
		<div class="like-dislike-ratio-indicator">
			<div class="like-indicator" id="<%- commentId -%>-indicator" style="width: <%- parseInt(100 * likes / (likes + dislikes)) -%>%"></div>
		</div>
		<button class="like" onclick="like('<%- commentId -%>')">
			<p id="<%- commentId -%>-like-count" class="like-count"><%- likes -%></p>
			<% if (liked) { %>
				<div id="<%- commentId -%>-like-icon" class="like-icon-active"></div>
			<% } else { %> 
				<div id="<%- commentId -%>-like-icon" class="like-icon"></div>
			<% } %>
		</button>
		
		<button class="dislike" onclick="dislike('<%- commentId -%>')">
			<p id="<%- commentId -%>-dislike-count" class="dislike-count"><%- dislikes -%></p>
			<% if (disliked) { %>
				<div id="<%- commentId -%>-dislike-icon" class="dislike-icon-active"></div>
			<% } else { %> 
				<div id="<%- commentId -%>-dislike-icon" class="dislike-icon"></div>
			<% } %>
		</button>

		<div class="comment">
			<p class="comment-count"><%- comments -%></p>
			<div class="comment-icon"></div>
			<button class="comment-reply" onclick="showCommentForm('<%- commentId -%>')">Reply</button>
		</div>
	</div>

	<div id="<%- commentId -%>-new-comment-form" style="display: none">
		<script src="/thread/newCommentForm.js"></script>
		<textarea class="comment-textarea" id="new-comment-<%- commentId -%>" placeholder="Write a comment"></textarea>
		<p class="tooltip" id="new-comment-<%- commentId -%>-tooltip" style="display: none"></p>
		<button class="comment-submit" onclick="newComment('<%- commentId -%>')">Comment</button><button class="comment-cancel" onclick="showCommentForm()">Cancel</button>
	</div>
</div>