<% if (!notFound) { %>
	<% var date = new Date(created) %>
	<div class="thread-block" id="<%- threadId -%>">
		<div class="thread-info-container">
			<a href="/profile/<%- user.id -%>" class="thread-creator-link"><p class="thread-creator">User: <%- user.username -%></p></a>
			<p class="thread-created">Posted: <%- (date.getMonth()+1) + "/"+ date.getDate() + "/" + date.getFullYear() -%></p>
		</div>
		<hr>
		<a href="/thread/<%- threadId -%>" class="thread-title-link"><h3 class="thread-title"><%- title -%></h3></a>
		<p class="thread-body"><%- body -%></p>
		<hr>
		<div class="like-dislike-comment">
			<div class="like-dislike-ratio-indicator">
				<div class="like-indicator" style="width: <%- parseInt(100 * likes / (likes + dislikes)) -%>%"></div>
			</div>
			<div class="like">
				<p class="like-count"><%- likes -%></p>
				<% if (liked) { %>
					<button onclick="like('<%- threadId -%>')"><div class="like-icon-active"></div></button>
				<% } else { %> 
					<button onclick="like('<%- threadId -%>')"><div class="like-icon"></div></button>
				<% } %>
			</div>
			<div class="dislike">
				<p class="dislike-count"><%- dislikes -%></p>
				<% if (disliked) { %>
					<button onclick="dislike('<%- threadId -%>')"><div class="dislike-icon-active"></div></button>
				<% } else { %> 
					<button onclick="dislike('<%- threadId -%>')"><div class="dislike-icon"></div></button>
				<% } %>
				</button>
			</div>
			<div class="comment">
				<p class="comment-count"><%- comments -%></p>
				<button><div class="comment-icon"></div></button>
			</div>
		</div>
	</div>
<% } else { %>
	<div class="thread-block">
		<p>Thread not found</p>
	</div>
<% } %>