<!DOCTYPE html>
<html lang="en">

<!DOCTYPE html>
<html>

<head>
	<title>Ask Congress - Thread</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/global.css">
	<link rel="stylesheet" href="/thread/thread.css">
</head>

<body>
	<div id="page-container">
		<%- include('../templates/nav') -%>
			<div id="thread-container">
				<div id="thread">
					<script src="/thread/threadLoader.js"></script>
					<script src="/thread/commentLoader.js"></script>
					<script src="/global/likeButton.js"></script>
					<script src="/global/dislikeButton.js"></script>
					<script type="text/javascript">
						setThreadId('<%- threadId -%>')
						threadLoader('<%- threadId -%>', '<%- loadComment -%>');
					</script>
				</div>

				<div id="comments-container">
					<div id="new-thread-comment-container">
						<script src="/thread/newCommentForm.js"></script>
						<textarea class="comment-textarea" id="new-comment-<%- threadId -%>" placeholder="Write a comment"></textarea>
						<p id="new-comment-<%- threadId -%>-tooltip" stlye="display: hidden"></p>
						<button class="comment-submit" onclick="newComment('<%- threadId -%>')">Comment</button>
					</div>
					<% if (loadComment !== 'all' && loadComment !== '') { %>
						<div id="thread-return-link-container"><a id="thread-return-link" href="/thread/<%- threadId -%>">⟵ Return to thread</a></div>
					<% } %>
				</div>
			</div>
			<%- include('../templates/footer') -%>
	</div>
</body>

</html>